/* Стилизация шапки */
.header {
    background-color: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 60px 0; /* Внутренние отступы */
    font-size: 24px;
}

/* Стилизация контейнера логотипа */
.logo-container {
    float: left; /* Выравнивание влево */
    vertical-align: middle; /* Выравнивание по вертикали по центру */
    line-height: 0px; /* Устанавливаем высоту строки, чтобы центрировать текст по вертикали */
    padding: 0px 20px; /* Убираем внутренние отступы */
}

/* Стилизация навигационного меню */
.navigation {
    list-style: none; /* Убираем маркеры списка */
    margin: 0; /* Убираем внешние отступы */
    padding: 0px 20px; /* Убираем внутренние отступы */
    float: right; /* Выравнивание вправо */
}

/* Стилизация пунктов меню */
.navigation li {
    display: inline; /* Размещаем пункты в одну линию */
    margin-left: 20px; /* Внешние отступы между пунктами меню */
}

/* Стилизация ссылок в меню */
.navigation a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #fff; /* Цвет текста ссылок */
}

/* При наведении меняем цвет текста */
.navigation a:hover {
    color: #ff6600; /* Цвет текста ссылок */
}

/* Стилизация контейнера изображения и его описания */
.content {
    text-align: center; /* Выравнивание текста и изображения по центру */
    margin-top: 20px; /* Отступ сверху */
}

.image-description {
    width: 100%; /* Ширина контейнера с описанием */
    text-align: center; /* Выравнивание текста внутри контейнера по центру */
}

/* Стилизация изображения внутри описания */
.image-description img {
    float: left; /* Выравнивание изображения слева */
    margin-right: 20px; /* Внешний отступ справа, чтобы добавить пространство между изображением и текстом */
    margin-top: 0; /* Убрать верхний отступ у изображения */
}

/* Стилизация текста внутри описания */
.image-description p {
    text-align: left; /* Выравнивание текста слева */
    font-size: 24px;
}