<!DOCTYPE html>
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>News Portal</title>

        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>

        <!-- Responsive navbar-->
        {{ string }}
        {% trans "Check out my new cool translation" %}
        {% trans "Поиск новостей" %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">

       <a class="navbar-brand" href="/news/">News Portal</a>
       <a class="navbar-brand" href="/news/search">Поиск новостей</a>
       {% if perms.newapp.add_news %}
       <a class="navbar-brand" href="/news/create">Создать новость</a>
       {% endif %}
       <a class="navbar-brand" href="/news/subscriptions/">Подписка</a>
       <a class="navbar-brand" href="/accounts/login/">Авторизация/Регистрация
           (<span style="color: #ff0000;"><span style="color: #ff0000;">{{ user.username }}</span></span>)</a>  <!-- Пользователь выделяется красным -->
       <a class="navbar-brand" href="/accounts/logout/">Выход</a>
<!--________________________________________________________________________________________________-->
<!--                                Кнопка смены языка-->
       <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}
        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>
<!--                                    Конец кнопки смены языка-->
<!--________________________________________________________________________________________________-->
       <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarResponsive"
               aria-controls="navbarResponsive" aria-expanded="false"
               aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
<!--           <ul class="navbar-nav ml-auto">-->
<!--               <li class="nav-item active">-->
<!--                   <a class="nav-link" href="#">Home-->
<!--                       <span class="sr-only">(current)</span>-->
<!--                   </a>-->
<!--               </li>-->
<!--               <li class="nav-item">-->
<!--                   <a class="nav-link" href="/about/">About</a>-->
<!--               </li>-->
<!--               <li class="nav-item">-->
<!--                   <a class="nav-link" href="/contacts/">Contacts</a>-->
<!--               </li>-->
<!--               <li class="nav-item">-->
<!--                   <a class="nav-link" href="/contacts1/">Recurring contacts</a>-->
<!--               </li>-->
<!--               <li class="nav-item">-->
<!--                   <a class="nav-link" href="/contacts2/">Modified contacts</a>-->
<!--               </li>-->
<!--               <li class="nav-item">-->
<!--                   <a class="nav-link" href="/contacts3/">Hidden contacts</a>-->
<!--               </li>-->
<!--           </ul>-->
       </div>
   </div>
</nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                 <div class="col-lg-12 text-center">
                     {% block content %}
                     {{ flatpage.content }}
                     {% endblock content %}
                 </div>
            </div>
        </div>
    </body>
</html>
